* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 30);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(1, 1, 47);
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 30px;
    
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(137, 121, 243);
    font-size: 18px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
    margin-left: 75px;
}

.firstSection div {
    width: 40%;
}

.leftSection {
    font-size: 3.25rem;
    margin-left: 80px;
    margin-top: 100px;
    align-items: center;
    width: 100%;
}

.leftSection p {
    color: rgb(1, 44, 174);
}

#element {
    color: rgb(1, 44, 174);
}

.rightSection {
    margin-left: 80px;
}

.rightSection img{
    width: 90%;
    height: auto;
    margin-top: 10px;
    margin-left: -20px;
    align-items: center;
}